<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="url_for('page.static',filename='register2.css')">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<head>



<body>
       
   

    <div class="container z-depth-4">
     <div class="row">
<div class="margin hi col s12">
  <p>Jeszcze kilka kroków!</p>
</div>
</div>
            <form class="col s12">
                <div class="row">
                    
                  <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix  aicon">account_circle</i>
                      <input placeholder="Imię" id="first_name" type="text" class="validate dane">
                      <label class="elabel" for="first_name">Imię</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate dane">
                      <label class="elabel" for="last_name">Nazwisko</label>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix hicon">contact_mail</i>
                  <input id="email" type="email" class="validate">
                  <label  for="email">Email</label>
                </div>
              </div>
                  <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix hicon">security</i>
                      <input id="password" type="password" class="validate">
                      <label for="password">Hasło</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password">Powtórz hasło</label>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col s12 left">
                    
                      <button class="btn waves-effect waves-light right z-depth-4 butcol" type="submit" name="action">Potwierdź
                          <i class="material-icons right">send</i>
                        </button>
                        
                      </div>
                    </div>


            </form>





        </div>
      
      </div>
            



    </div>
  </body>
        


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="register2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>