        {% for student in content['students_ofclass'] %}
        <div class="row firstlist colorow2 z-depth-4">
              <div>{{student}}</div>
                  </div>
                  {%endfor%}
                     <div id="dodajuczniarow" class="row ">
                            <a onclick="giveForm('{{content['class_id']}}')" id="dodajucznia" class="waves-effect waves-light btn left z-depth-4"><i class="material-icons left">contacts</i>Dodaj uczniów do
                                {{content['class_id']}}</a>
                    </div>
