<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="{{ url_for('teacherpage.static', filename='teacher.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>



<body>
       


    <div class="container ">
     
      <div class="row rowborder z-depth-4">
        
              <div class="col s3 longcol z-depth-4">
                
                <div class="row rowborder colorow1 rowoddzialy z-depth-4">
                  <div class="fontoddzialy ">Oddziały</div>
                  </div>
                  <div class="row firstlist colorow2 z-depth-4">
                      <div>Placeholder</div>
                    </div>

                  {% for class in content['classes'] %}

                  <div id="dodajodrow" class="row ">
                      <a onclick="classswap("{{class}}")" id="dodajoddzialbtn" class="center waves-effect waves-light btn z-depth-4"><i class="material-icons">supervisor_account</i>{{class}}</a>
                   </div>

                  {% endfor %}

              </div>
              <div class="col s9 longcol z-depth-4">
                  <div class="row uczniowieborderleftright rowborder colorow1 uczniowiepadding z-depth-4">
                  <div class="fontuczniowie">Uczniowie
                      <a  class="waves-effect waves-light btn right mright z-depth-4"><i class="material-icons left">bookmark_border</i>Dodaj oceny</a>
                  </div></div>
                  <div id="class_members">

                  </div>

              </div>
              </div>
              </div>
            </div>

    </div>
    <script type="text/javascript" src="{{ url_for('page.static', filename='classswap.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>