html
{
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 2px;
}
body{
    overflow:hidden;
}
nav{
    background-color: #227CBF !important;
    text-align: left;
    height:60px !important;

}
.nav2{
    background-color:#B2C126 !important;
    color:black;
    height:60px !important;
}
.col{
    padding-left:0% !important;
    padding-right:0% !important;
}
.row{
    margin-bottom:0% !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:grey;
    width:100% !important;
}
.rows:nth-child(odd){
    background:#F9EDED;
    padding-top:0.5% !important;
    padding-bottom:0.5% !important;
}
.rows:nth-child(even){
    background:#F9DBDB;
    padding-top:0.5% !important;
    padding-bottom:0.5% !important;
    }
.uprow{
    margin:0% !important;
}
.selectable{
    padding-top:0.9% !important;
    margin-right:3% !important;
}
.browser-default{
    color:black;
}
.rows{
    border:0px !important;
}
.rowscroll{
    float: left;
    width: 100%;
    height:calc(100% - 120px) !important;
    overflow: auto;
    position:absolute !important;
}
.brand-logo{
    margin-left:5% !important;
}