html {
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 2px;
}
body{
    overflow: hidden;
    background:#F2B418;
}
.square1{
    width: 20vw;
    color:white;
    height: 20vw;
    background-color:#B2C126;
    font-size:3vw !important;
}
.square1:hover{
    height: 20vw;
    width: 20vw;
    background-color:#BFCC4F;
}

.square2{
    width: 20vw;
    color:white;
    height: 20vw;
    background-color:#D61717;
    font-size:3vw !important;
}
.square2:hover{
    height: 20vw;
    width: 20vw;
    background-color:#DB4646;
}

.square3{
    width: 20vw;
    color:white;
    height: 20vw;
    background-color:#227CBF;
    font-size:3vw !important;
}
.square3:hover{
    height: 20vw;
    width: 20vw;
    background-color:#579FD6;
}

.row{
    height:25% !important;
    width:100% !important;
    margin:0% !important;
}

.img{
    margin-top:10% !important;
}
.img2{
    margin-top:17% !important;
}


.row1{
    margin:0% !important;
    height:33.33% !important;
    background-color:red !important;
    color:white;
    font-size:150% !important;
}
.row2{
    margin:0% !important;
    height:33.33% !important;
    background-color:rgb(109, 192, 0) !important;
    color:white;
    font-size:150% !important;
}

.row3{
    margin:0% !important;
    height:33.33% !important;
    background-color:rgb(0, 153, 255) !important;
    color:white;
    font-size:150% !important;
}
.mimg{
   height:70% !important;
}


