.col{
    padding-left:0% !important;
    padding-right:0% !important;
 }
 body{
    background-color:#FFFFFF !important;
 }
 .row{
    margin-bottom:0% !important;

 }

 .classcol1{
    padding:0% !important;
    font-size:250% !important;
    color:white;
    background-color:#F07830;
    text-align: center;
 }
 .classcol2{
    padding:0% !important;
    border-right:1px solid;
    border-right-color:#eceff1  ;
    height:100% !important;
 }
 .studentscol1{
    padding:0% !important;
    font-size:250% !important;
    background-color:rgb(240,120,48);
    padding-right:15% !important;
    text-align: center;
    margin-left:0.5%;
    color:white;
 }
 .studentscol2{
    padding:0% !important;
    height:100% !important;

 }
 .classbtn{
    width:92% !important;
    margin-top:4% !important;
    margin-left:4%;
    margin-right:4%;
 }
 .plus{
    background-color:#007849 !important;
    display:inline-block !important;
    padding:13% !important;
    padding-top:0% !important;
    margin-left:5%;
    }
    .minus{
    background-color:#AD1111 !important;
    display:inline-block !important;
    padding:13.5% !important;
    padding-bottom:2% !important;
    padding-top:0% !important;
    font-size:150% !important;
    margin-right:5%;
    }
 .rowborder{
    border:1px solid black;
 }
 .labelcol{
    padding-top:0.9% !important;
    padding-bottom:0.9% !important;
 }
 .pointscol{
    padding-top:1% !important;
    padding-bottom:1% !important;
 }
 .buttoncol{
    padding-top:0.3% !important;
    padding-bottom:0.3% !important;

 }
 .rowcolor:nth-child(odd){
    background:#F9EDED;
}
 .rowcolor:nth-child(even){
    background:#f2d487;
}
.label{
 font-size:105%;
 padding-left:1.5%;
 color:black;
}

