<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="{{url_for('adminpanel.static',filename='adminloginscreen.css')}}">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>



<body>
 <div class="container">
<div class="row top">
  <div class="col s8">
<div class="hello">Witaj!</div>
  </div>
</div>
<div class="row bottom">
    <form >
  <div class="col s12 content">
    <div class="row">
      <div class="input-field col s12">
        <input name="school_code" id="school_code" type="text" class="validate">
        <label for="school_code">Kod szkoły</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
       <input  name="school_pass" id="school_pass" type="password" class="validate">
        <label for="school_pass">Hasło</label>
      </div>
    </div>
    <a class="forgetpass" href="#">Zapomniałeś hasła?</a>
    {{error}}
    <button formmethod="POST" formaction="/admin/login" class="btn waves-effect light-blue accent-4 right" type="submit" name="action">Zaloguj</button>
  </div>
    </form>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>











