<!--Rozwijane menu-->   {%for assinged_class in content['assinged_classes']%}
                        <select class="browser-default">
                        <option value="" disabled selected>{{assinged_class}}</option>
                            {%for possible_class in content['possible_classes']%}
                            <option value="1">{{possible_class}}</option>
                            {%endfor%}
                        </select>
                        {%endfor%}
                        <a onclick="addclassassigment()" id="addclassassigmentbtn" class="waves-effect waves-light btn left z-depth-4"><i class="material-icons left">contacts</i>Dodaj</a>
                        <a onclick="removeclassassigment()" id="removeassignation" class="waves-effect waves-light btn kick z-depth-4"><i class="material-icons kickleft">do_not_disturb_alt</i></a><br>
                        <a onclick="uploadassigmentform()" id="confirmlistbtn" class="waves-effect waves-light btn left z-depth-4"><i class="material-icons left">done</i>Zatwierdź</a>
