<!--Rozwijane menu-->                   <select class="browser-default">
                        <option value="" disabled selected>Wybór klasy</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
  <a id="removestudentbtn" class="waves-effect waves-light btn kick z-depth-4"><i class="material-icons kickleft">do_not_disturb_alt</i></a>