<!--Rozwijane menu-->   {%for assinged_class in content['assinged_classes']%}
                        <select class="browser-default">
                        <option value="" disabled selected>Wybór klasy</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        </select>
                        <a id="removeassignation" class="waves-effect waves-light btn kick z-depth-4"><i class="material-icons kickleft">do_not_disturb_alt</i></a>
                        {%endfor%}
                        <a onclick="addclassassigment()" id="addclassassigmentbtn" class="waves-effect waves-light btn left z-depth-4"><i class="material-icons left">contacts</i>Dodaj</a>
