{%for class in content['classes']%}
        <a onclick="showclass('{{class}}')" id="{{class}}"  class="waves-effect blue lighten-1 btn z-depth-4">{{class}}</a>
        <a onclick="delclass('{{class}}')" id="del_{{class}}"  class="waves-effect red lighten-1 btn kick z-depth-4"><i class="material-icons kickleft">do_not_disturb_alt</i></a>
{%endfor%}
 <!--Dodaj klasę-->
                    <div class="row white">
                            <form class="col s12">
                              <div class="row">
                                <div class="input-field col s6">
                                    <input id="new_class" type="text" class="validate" maxlength="2">
                                    <label for="new_class"></label>
                                </div>
                            </div>
                            </form>
                        </div>
                      <div class="row ">
 <!--Przycisk dodania klasy-->
                          <a onclick="addclass()" id="addclassbtn" class="waves-effect light-green btn z-depth-4">Dodaj klasę</a>
                        </div>
                        <div class="row ">
                            <label>Kody rejstracji dla ucznów</label>
                          <a onclick="studentcodes()" id="givecodes" class="waves-effect blue lighten-1 btn z-depth-4">Generuj</a>
                        </div>
                        <div class="row ">
                            <label>Kody rejstracji dla nauczycieli</label>
                          <a onclick="teachercodes()" id="givetcodes" class="waves-effect blue lighten-1 btn z-depth-4">Generuj</a>
                        </div>



