{%for student in content['students']%}
                        <div id="cell_{{student}}" class="row colorow2 z-depth-4">
                          <div>
                                <div class="row ">
                                        <form class="col uczenform s12">
                                          <div class="row">
 <!--Uczeń-->                                              <div class="input-field col s6">
                                                <input value="{{student}}" id="student" type="text" class="validate">
                                                <label for="student"></label>
                                            </div>
  <!--Usuń ucznia-->                        <a onclick="removecell('{{student}}')" id="removestudentbtn" class="waves-effect waves-light btn kick z-depth-4">
                                              <i class="material-icons kickleft">do_not_disturb_alt</i></a>
                                        </div>
                                    </form>
                                    </div>
                            </div>
                        </div>
    {%endfor%}
                        <div class="row white">
                            <form class="col s12">
 <!--Dodaj ucznia-->            <div class="row">
                                    <div class="input-field col s6">
                                        <input id="new_student" type="text" class="validate">
                                        <label for="new_student"></label>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row ">
 <!--Dodaj-->                   <a id="addstudentbtn" class="waves-effect waves-light btn left z-depth-4"><i class="material-icons left">contacts</i>Dodaj</a>
 <!--Zatwierdź-->               <a id="confirmlistbtn" class="waves-effect waves-light btn left z-depth-4"><i class="material-icons left">done</i>Zatwierdź</a>
                          </div>