{%for teacher_registered in content['teachers']%}
<a onclick="show_assingedclasses('{{teacher_registered}}')" class="waves-effect green btn teacherbutton z-depth-1">{{teacher_registered}}</a>

{%endfor%}
{%for teacher_unregistered in content['unregistered_teachers']%}
<a class="waves-effect waves-light btn teacherbutton z-depth-1">{{teacher_unregistered}}</a>
<a onclick="delteacher('{{teacher_unregistered}}')" id="removeteacherbtn" class="waves-effect waves-light btn kick z-depth-4"><i class="material-icons kickleft">do_not_disturb_alt</i></a>
{%endfor%}
 <!--Dodaj nauczyciela-->
                        <div class="row white">
                            <form class="col s12">
                              <div class="row">
                                <div class="input-field col s6">
                                    <input id="new_teacher" type="text" class="validate">
                                    <label for="new_teacher"></label>
                                </div>
                            </div>
                            </form>
                        </div>
                      <div class="row ">
 <!--Przycisk dodaj nauczyciela-->
                          <a onclick="addteacher()" id="addteacherbtn" class="waves-effect waves-light btn z-depth-4"><i class="material-icons">contacts</i>Dodaj nauczyciela</a>
                      </div>
